* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: yellow;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(82, 220, 220);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border: 1px solid #ffffff00;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
}

.header__text {
  width: 50%;
}

.header__text h3 {
  font-size: 20px;
}

.brigade {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 15px 10px;
}

.brigade__students {
  display: flex;
  justify-content: space-between;
}

#about {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links__lab {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  transition: 0.25s all;
}

.links__lab:hover {
  transform: scale(1.02);
  color: #fffefe;
  background-color: rgb(82, 220, 220);
  cursor: pointer;
}

.lab {
  display: none;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
}

.lab__description {
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lab__descriptor {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 90%;
  height: 50px;
}

.lab__subtabs {
  overflow: overlay;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 50vh;
  max-height: 420px;
}

.lab__descriptor {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s all;
}

.lab__descriptor_active {
  transform: scale(1.02);
  color: #fffefe;
  background-color: rgb(82, 220, 220);
  cursor: pointer;
}

.lab__descriptor:hover {
  transform: scale(1.02);
  color: #fffefe;
  background-color: rgb(82, 220, 220);
  cursor: pointer;
}

.links__lab_active {
  transform: scale(1.02);
  color: #fffefe;
  background-color: rgb(82, 220, 220);
  cursor: pointer;
}

.lab_active {
  display: grid;
}

.lab__container {
  padding: 30px;
  display: none;
}

.lab__container_active {
  display: block;
}

.img {
  width: 100px;
  height: 100px;
}

/* bootstrap tab */
.nav-item {
  margin: 0 5px;
}
/* bootstrap tab */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p.dotted {
  border-style: dotted;
}
p.dashed {
  border-style: dashed;
}
p.solid {
  border-style: solid;
}
p.double {
  border-style: double;
}
p.groove {
  border-style: groove;
}
p.ridge {
  border-style: ridge;
}
p.inset {
  border-style: inset;
}
p.outset {
  border-style: outset;
}
p.none {
  border-style: none;
}
p.hidden {
  border-style: hidden;
}
p.mix {
  border-style: dotted dashed solid double;
}
p.blue {
  border: solid 2px blue;
}
